@{
    ViewBag.Title = "Admin";
}
<div><a asp-action="Logout">Logout</a></div>
<h1 style="color:blue">Welcome - Administrator Page</h1>
<div><a asp-action="ShowAllNews">Show all News</a></div>
<div><a asp-action="AddNews">Add News</a></div>
<div><a asp-action="Delete">Delete News</a></div>

